*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

.element{
    margin: 80px auto;
    width: 50%;
    height: 200px;
    background-color: rosybrown;
}
/* @media(max-width: 500px){
    .element{
        background-color: royalblue;
    }

    body{
        background-color: gainsboro;
    }
} */

/* @media(min-width: 500px){
    .element{
        background-color: royalblue;
    }

    body{
        background-color: gainsboro;
    }
} */

