*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: green;
    /* por defecto todas las propiedades (all)
    están seleccionadas */
    transition-property: transform;
    /* duración de la transición */
    transition-duration: 1s;
    transition-delay: 2s;
}

.element{
    width: 200px;
    height: 200px;
    margin: 60px;
    background-color: steelblue;
    text-align: center;
        
}

.container:hover{
    transform: translate(100px) rotate(10deg);   
}