*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    
}

.card{
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: steelblue;
    color: whitesmoke;
    padding: 40px 20px;
}

.img{
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.paragraph{
    text-transform: uppercase;
    /* font-size: 30px; */

    /* recomendado de 1.5 para leer mejor, como en word */
    line-height: 1.5;
}

.title{
    font-size: 50px;
    overflow-wrap: break-word;



}

.paragraph-first{
    text-transform: lowercase;
    margin: 20px 0 ;
    /* border: 3px solid crimson; */

    font-weight: light;
    font-style: italic;



}

h2{
    /* border: 3px solid greenyellow; */
    text-align: center;
}